{% extends 'base/base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow-lg p-4">
                        <h4 class="text-center mb-4">{% if object %}Edit your email{% else %} Add your email{% endif %}</h4>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-sm btn-danger me-1">Save</button>
                                <a href="{% url 'email:list' %}" class="btn btn-sm btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}